:root {
    --primary-text-color:#757575 ;
    --title-text-color:#212121;
    --secondary-text-color:#FFFFFF;
    --accent-color: #2196F3;
    --main-logo-color:#000000;
    
}


body {
font-family: "Roboto",sans-serif;
background-color: #FFF;
color: var(--primary-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.17;
}
.list {
    list-style-type: none;}
.link {
    text-decoration: none;
    
}
.btn {
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--title-text-color);
    background-color:#F5F4FA ;
}

/* Хедер */
.logo {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway";
    
}
.header-logo {
    color: var(--main-logo-color);
line-height: 1.38;}
.primary-logo {
    color: var(--accent-color);
}
 

.nav-link {
    color: var(--title-text-color);
    
}

.header-address {
    color: inherit;
    
}

.link:hover {
    color:var(--accent-color);
}
.link:focus {
    color:var(--accent-color);}
    /* Футер */
    .footer-logo {
        color: var(--secondary-text-color);
    }
    .footer-background {
        background-color:  #2F303A;
    }
    .footer-address {
    color: rgba(255, 255, 255, 0.6);
    }
   
    
    .phys-address {
        color:var(--secondary-text-color);}
  
    /* Герой */
.hero-title {
    
    font-weight: 900;
    font-size: 44px;
    color:  var(--secondary-text-color);
    line-height: 1.4;
    /* бг для видимості */
    background-color: #2F303A;
    
   
}
.hero-btn {
color: var(--secondary-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.9;
}
/* Про нас */
.title {
    color: var(--title-text-color);
    font-weight: 700;
   
}
.primary-title {
    font-size: 36px;
}
.secondary-title {
    text-transform: uppercase;
}
.about-section {
    line-height: 1.74;
}
/* Наша команда */
.employee-name {
    font-size: 16px;
    font-weight: 500;

}
.employee-description {
    font-size: 16px;
    
}
/* Наші проекти */
.project-title {
    
    font-weight: 700;
    font-size: 18px;
    list-style: 2;
    color: var(--title-text-color);
}
.project-type {
    
line-height: 1.9;
font-size: 16px;
color: inherit;

}
.filter-btn {
    font-weight: 500;
    line-height: 1.62;

}
.everything-btn {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

.project-card {
    border: hide 1px #EEE solid;
}

.project-card-link {
    color: var(--primary-text-color);
    text-decoration: none;
    
}
